*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.container{
    min-height: 100vh;
    width: 100%;
    background-color: #0b0432;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#left, #right{
    width: 300px;
    min-height: 350px;
    margin: 30px;
    border: 2px dashed #fff;
}
.list{
    background: #e91e63;
    height: 60px;
    margin: 20px auto;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 120px 0 10px;
    font-size: 18px;
    font-weight: 600;
    width: 90%;
    border: 2px solid #000;
    cursor: grab;
}
.list img{
    height: 50%;
}